#### Importing Libraries

In [338]:
import pandas as pd

#### Read The Data

In [339]:
xls = pd.ExcelFile('data.xlsx')
df1 = pd.read_excel(xls, 'sports')
df2 = pd.read_excel(xls, 'history')
df3 = pd.read_excel(xls, 'geography')
df4 = pd.read_excel(xls, 'art')
df5 = pd.read_excel(xls, 'science')
df6 = pd.read_excel(xls, 'games')
df7 = pd.read_excel(xls, 'general')

df = pd.concat([df1, df2, df3, df4, df5, df6, df7])

Count of rows

In [340]:
df.shape[0]

4980

### Trimming each Question (remove spaces from each side) and all column

In [341]:
df = df.apply(lambda x: x.strip() if isinstance(x, str) else x);

#### Showing First 5 rows as a sample

In [342]:
df.head()

,index,id,categoryId,categoryName,question,answers,answers.1,answers.2,answers.3,tier,hasPhoto,isNumeric,metadata
0,0,q_0,sports,رياضة,مع ٢٠٢ مباراة نظيفة، أي حارس مرمى لديه أفضل سج...,بيتر تشيك,ياسين بونو,مانويل نوير,تيبو كورتوا,1,0,0,NaN
1,1,q_1,sports,رياضة,كم عدد الأندية التي شاركت في الموسم الافتتاحي ...,22,23,24,25,1,0,1,NaN
2,2,q_2,sports,رياضة,من هو لاعب كرة القدم السويدي الذي أدرج بندا في...,ستيفان شوارز,روبين أولسين,أرمنتيروس,ألبرت اولسون,1,0,0,NaN
3,3,q_3,sports,رياضة,أي لاعب كرة قدم حائز على جائزة الكرة الذهبية ك...,كريستيانو رونالدو,جاريث بيل,محمد صلاح,ساديو ماني,1,0,0,NaN
4,4,q_4,sports,رياضة,اعتزل ميسي دوليا بشكل مشهور في أي عام قبل أن ي...,2016,2014,2012,2018,1,0,1,NaN

We will perform text cleaning:

In [343]:
df.duplicated().sum()

0

Conclusion: no full row duplicated with another

We then will check the duplication of each column separatly:

In [344]:
# Initialize a dictionary to store the count of duplicates for each column
duplicates_count = {}

# Loop through each column in the DataFrame
for column in df.columns:
    # Calculate the number of duplicate entries in the column
    duplicates_count[column] = df[column].duplicated().sum()

# Display the count of duplicates for each column
for column, count in duplicates_count.items():
    print(f"Column '{column}' has {count} duplicate entries.")

Column 'index' has 0 duplicate entries.
Column 'id' has 0 duplicate entries.
Column 'categoryId' has 4973 duplicate entries.
Column 'categoryName' has 4973 duplicate entries.
Column 'question' has 435 duplicate entries.
Column 'answers' has 1789 duplicate entries.
Column 'answers.1' has 2237 duplicate entries.
Column 'answers.2' has 2151 duplicate entries.
Column 'answers.3' has 2081 duplicate entries.
Column 'tier' has 4979 duplicate entries.
Column 'hasPhoto' has 4978 duplicate entries.
Column 'isNumeric' has 4978 duplicate entries.
Column 'metadata' has 4979 duplicate entries.

Conclusion: We have found that there are 436 duplicated question which make sense.

Overview of the duplicated question

In [345]:
df[df['question'].duplicated()]['question'].value_counts()

question
ما هو اسم هذا اللاعب؟                    82
من الرياضى صاحب هذه الصورة ؟             58
من صاحب هذه الصورة ؟                     48
ما هو أسم هذا المصارع؟                   35
ما هو اسم الشخصية الخيالية الاتية ؟      28
                                         ..
ما هو الطائر الذي يبيض في عش غير عشه؟     1
ما هي نسبة الماء في جسم الإنسان؟          1
ما هو لون الرئتين السليمتين؟              1
من هو مكتشف الأنسولين؟                    1
من هو الصحابي الملقب بحبر الأمة؟          1
Name: count, Length: 127, dtype: int64

Conclusion:

 We found that some question related to hasPhoto Column is duplicated and this make sense but other question like: 

ما هي نسبة الماء في جسم الإنسان؟                       
ما هو لون الرئتين السليمتين؟                           
من هو مكتشف الأنسولين؟                                 
ما هي الحيوانات التي يستخدمها الفرسان في الفروسية؟     
من هو الصحابي الملقب بحبر الأمة؟

We need to make sure that the question we select has 0 value in 'hasPhoto' column

In [346]:

# Step 1: Identify duplicate questions
duplicate_questions = df[df['question'].duplicated(keep=False)]

# Step 2: Filter these duplicates by hasphoto equal to 0
filtered_duplicates = duplicate_questions[duplicate_questions['hasPhoto'] == 0]

# Step 3: Count the duplicates in the 'question' column
filtered_duplicates['question'].value_counts()

question
ما هي عاصمة كندا؟                        3
ما هو أطول نهر في العالم؟                3
من هو مخترع المصباح الكهربائي؟           3
ما هو الحيوان الذي لا يشرب الماء؟        3
أين تم افتتاح أول بنك للدم في العالم؟    3
                                        ..
ما معنى اسم مهند؟                        2
ما معنى اسم ملهم؟                        2
ما معنى اسم قسورة؟                       2
ما معنى اسم سائد؟                        2
من هو مكتشف أمريكا؟                      2
Name: count, Length: 118, dtype: int64

We should calculate the count of duplicated questions

In [347]:
filtered_duplicates.shape[0]

241

Samples

In [348]:
df[df['question'] == 'من هو الصحابي الملقب بحبر الأمة؟']

,index,id,categoryId,categoryName,question,answers,answers.1,answers.2,answers.3,tier,hasPhoto,isNumeric,metadata
43,10043,q_10043,history,تاريخ,من هو الصحابي الملقب بحبر الأمة؟,عبد الله بن العباس,عثمان بن عفان,خالد بن الوليد,ابو بكر الصديق,1,0,0,NaN
679,60679,q_60679,general,عام,من هو الصحابي الملقب بحبر الأمة؟,عبد الله بن العباس,عمر بن الخطاب,عثمان بن عفان,أبو هريرة,1,0,0,NaN

In [349]:
df[df['question'] == 'ما معنى اسم آسر؟']

,index,id,categoryId,categoryName,question,answers,answers.1,answers.2,answers.3,tier,hasPhoto,isNumeric,metadata
339,20339,q_20339,geography,جغرافيا,ما معنى اسم آسر؟,القوي الشديد,الطويل,عريض الكتفين,الشجاع,1,0,0,NaN
1046,61046,q_61046,general,عام,ما معنى اسم آسر؟,القوي الشديد,الطويل,عريض الكتفين,الشجاع,1,0,0,NaN

We will take action to delete the duplicated column

Last Conclusion:
Most of that duplicated question related more to general question so we will change the category to it to insure integrity

In [350]:

# Get the question_ids of the duplicates
duplicate_question_ids = filtered_duplicates['id'].tolist()

# Remove duplicate questions from the main DataFrame using question_id
cleaned_df = df[~df['id'].isin(duplicate_question_ids)]

# Remove duplicates from the filtered_duplicates DataFrame, keeping one instance
deduplicated_filtered_duplicates = filtered_duplicates.drop_duplicates(subset='question')

# Change category to general
deduplicated_filtered_duplicates.loc[:, 'categoryId'] = 'general'
deduplicated_filtered_duplicates.loc[:, 'categoryName'] = 'عام'

# Concatenate the cleaned DataFrame with the deduplicated filtered_duplicates DataFrame
final_df = pd.concat([cleaned_df, deduplicated_filtered_duplicates], ignore_index=True)

Comparing original data count with the new one

In [351]:
# Original Data
df.shape[0]

4980

In [352]:
# My Output
final_df.shape[0]

4857

In [353]:
df.shape[0] - final_df.shape[0]

123

Sample

In [354]:
final_df[final_df['question'] == 'ما معنى اسم آسر؟']

,index,id,categoryId,categoryName,question,answers,answers.1,answers.2,answers.3,tier,hasPhoto,isNumeric,metadata
4776,20339,q_20339,general,عام,ما معنى اسم آسر؟,القوي الشديد,الطويل,عريض الكتفين,الشجاع,1,0,0,NaN

### Now We will Fix the ids and tables of the question

1) We will make sheet of the sports
2) We will make sheet of the history 
3) We will make sheet of the geography 
4) We will make sheet of the art 
5) We will make sheet of the science 
6) We will make sheet of the games 
7) We will make sheet of the general

In [355]:
dfs = {
'sports': final_df[final_df['categoryId'] =='sports'],
'history':final_df[final_df['categoryId'] =='history'],
'geography': final_df[final_df['categoryId'] =='geography'],
'art': final_df[final_df['categoryId'] =='art'],
'science':  final_df[final_df['categoryId'] =='science'],
'games': final_df[final_df['categoryId'] =='games'],
'general': final_df[final_df['categoryId'] =='general']
}

Function to retain question index

In [356]:
def preprocess_dataframe(df, start_number=0):
    # Store the original column order
    original_columns = df.columns.tolist()
    
    # Create a copy to avoid modifying the original DataFrame
    df = df.copy()
    df = df.reset_index()
 
    # Create a new ID column based on the pattern
    df['id'] = 'q_' + (start_number + df.index).astype(str)
    
    # Reapply the original column order
    df = df[original_columns + ['id']]
    
    return df

In [357]:
start_number = 0
for sheet_name, df in dfs.items():
    dfs[sheet_name] = preprocess_dataframe(df,start_number)
    start_number+= 10000

Converting the data to excel sheet

In [358]:

# Define the file path for the Excel file
excel_file = "Cleaned.xlsx"

# Create an Excel writer object
with pd.ExcelWriter(excel_file) as writer:
    # Loop through each DataFrame and write it to a separate sheet
    for sheet_name, df in dfs.items():
        df.to_excel(writer, sheet_name=sheet_name, index=False)