In [1]:
import pandas as pd

In [2]:
xls = pd.ExcelFile('Cleaned.xlsx')
df1 = pd.read_excel(xls, 'sports')
df2 = pd.read_excel(xls, 'history')
df3 = pd.read_excel(xls, 'geography')
df4 = pd.read_excel(xls, 'art')
df5 = pd.read_excel(xls, 'science')
df6 = pd.read_excel(xls, 'games')
df7 = pd.read_excel(xls, 'general')

df = pd.concat([df1, df2, df3, df4, df5, df6, df7])

In [20]:
def get_duplicate_questions(df):
    # Step 1: Get the value counts
    value_counts = df['question'].value_counts()
    
    # Step 2: Filter values with counts greater than 1
    filtered_counts = value_counts[value_counts > 1]
    
    # Step 3: Convert the result to a DataFrame
    result_df = filtered_counts.reset_index()
    
    # Rename the columns for clarity
    result_df.columns = ['question', 'count']
    
    return result_df

In [21]:
result_df1 = get_duplicate_questions(df1)
result_df2 = get_duplicate_questions(df2)
result_df3 = get_duplicate_questions(df3)
result_df4 = get_duplicate_questions(df4)
result_df5 = get_duplicate_questions(df5)
result_df6 = get_duplicate_questions(df6)
result_df7 = get_duplicate_questions(df7)

In [22]:
result_df1

                        question  count
0          ما هو اسم هذا اللاعب؟     83
1   من الرياضى صاحب هذه الصورة ؟     59
2         ما هو أسم هذا المصارع؟     36
3  ما هو اسم هذا الفريق الرياضي؟     20

In [23]:
result_df2

Empty DataFrame
Columns: [question, count]
Index: []

In [24]:
result_df3

                                     question  count
0                ما هي البلد صاحبة هذا العلم؟     23
1                            ما هو هذا العلم؟     13
2  أين يقع المعلم السياحي الموجود في الصورة ؟      9

In [25]:
result_df4

Empty DataFrame
Columns: [question, count]
Index: []

In [26]:
result_df5

Empty DataFrame
Columns: [question, count]
Index: []

In [27]:
result_df6

Empty DataFrame
Columns: [question, count]
Index: []

In [28]:
result_df7

                              question  count
0                 من صاحب هذه الصورة ؟     49
1  ما هو اسم الشخصية الخيالية الاتية ؟     29